// SCSS for upload button and field
.brand-input::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #805ad5;
  padding: 8px 20px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.brand-input::file-selector-button:hover {
  background: #44337a;
}
